body {
    background-color:#FFFFFF
}

div.header {
    margin: auto;
    width: 75%;
    height: 136px;
    padding: 0px 15px;
    text-align:center;
}

div.content {
    min-height:450px;
    margin: auto;
    box-sizing: content-box;
    width: 75%;
    padding: 15px;
}

div#form_wrapper {
    text-align:center;
    margin:auto;
    width:50%;
}

h3#heading {
    text-align:center;
    margin:auto;
    width:60%;
    padding:0,40px;
}

div#header_filler {
    display:table-cell;
    vertical-align:middle;
    height: 100% !Important;
    margin-left:80px;
}

div#logo_wrapper {
    display:table-cell;
    vertical-align:middle;

}

div#form_well {
    width:70%;
}

input#submit_img {
    margin:auto;
}


