{% extends 'image_compare/base.html' %}
{% load staticfiles %}
{% block extrahead %}
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}
{% block content %}
<div id="form_wrapper">



        <div class="well" id="result_well">
            <h4 id="heading">Image Compare Demo App</h4>
            <div class="well_container">You searched for:</div>
            <div class="row">
            <div class="col-md-4">
              <div class="thumbnail">
                <a href="{{query}}" target="_blank">
                  <img src="{{query}}" style="width:100%">
                </a>
              </div>
            </div>
            </div>

            <br />
            <br />
            <div class="well_container">Found these results:</div>
            <br />
            <br />
            <br />

            <div class="row">
            {% for file in files %}
                <div class="col-md-4">
                  <div class="thumbnail">
                    <a href="{{file}}" target="_blank">
                      <img src="{{file}}" style="width:100%">
                    </a>
                  </div>
                </div>
            {% endfor %}
            </div>
            <br /><br />
            <div class="well_container">
                <a href="{{index}}">Back</a>
            </div>


        </div>

</div>
{% endblock %}
